* {
    margin: 0px;
    padding: 0 px;
    font-family: Circe, Helvetica, sans-serif;
}

.wrap h1 {
    font-size: 57px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 3px black;
    letter-spacing: 5px;
}

.wrap h4 {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.wrap h5 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.wrap p {
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    line-height: 1.5;
}

.wrap img {
    width: 100%;
}

.wrap .promo-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 86vh;
    background: url(https://orby.ru/upload/medialibrary/09d/09d6d303012c5b1ae4b1d3f92a616af9.png) no-repeat 0 -50px;
    background-size: cover;
}

.wrap .mainTheme {
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1024px) {
    .wrap .mainTheme {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

.wrap .mainTheme-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 70px 0;
}
.wrap .mainTheme-desc_capture {
    text-transform: uppercase;
}
.wrap .mainTheme-desc_textFirst, .mainTheme-desc_textSec, .mainTheme-desc_textThrd {
    text-align: center;
}

.wrap .trends {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrap .trends-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap .trends-video > video {
    margin-bottom: 70px;
    height: 100vh;
}

.wrap .trends-desc_capture {
    text-align: center;
}
.wrap .trends-desc_text {
    margin-bottom: 70px;
    text-align: center;
}

.wrap .trends-twoSided {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px; 
}
.wrap .trends-twoSided-main {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.wrap .trends-twoSided-main-pic {
    height: 400px;
    padding: 0;
    background: url(https://orby.ru/upload/medialibrary/a64/a64b617a33f306abc2c109b3c42641e7.jpg) 100% 100% no-repeat;
    background-size: cover;
    opacity: 1;
    border: 15px solid white;
}
.wrap .mobile {
    display: none;
}
.wrap .trends-twoSided-main-pic > img {
    transition: 0.5s;
    height: 400px;
    width: auto;
    object-fit: cover;
}
.wrap .trends-twoSided-main-pic > img:hover {
    opacity: 0;
}
.wrap .trends-twoSided-main-desc {
    padding-left: 50px;
    align-self: center;
    width: 45%;
}
.wrap .trends-twoSided-main-desc > p {
    margin: 5px 0;
}
.wrap .trends-twoSided-gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.wrap .trends-twoSided-gallery-item {
    width: 24%;
}
.wrap .trends-twoSided-gallery-item > img {
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .wrap .trends-twoSided-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrap .trends-twoSided-main-pic {
        height: 400px;
        width: auto;
        margin-bottom: 40px;
        background: none;
    }
    .wrap .trends-twoSided-main-pic > img {
        height: 400px;
        width: auto;
        object-fit: cover;
    }
    .wrap .trends-twoSided-main-pic > img:hover {
        opacity: 1;
    }
    .wrap .mobile {
        display: block;
    }
    .wrap .trends-twoSided-main-desc {
        width: 90%;
        margin-bottom: 40px;
        text-align: center;
    }
}

.wrap .trends-bestPrice {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}
.wrap .trends-bestPrice-capture {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 15%;
}
.wrap .trends-bestPrice-pic {
    width: 50%;
    padding-right: 1.5%;

}
.wrap .trends-bestPrice-pic > img {
    object-fit: cover;
}
@media screen and (max-width: 1024px) {
    .wrap .trends-bestPrice {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrap .trends-bestPrice-capture {
        text-align: left;
        padding-bottom: 20px;
    }
    .wrap .trends-bestPrice-pic {
        width: 90%;
    }
}

.wrap .trends-oversize-itemSec {
    width: 100%;
    margin-top: 20px;
}
.wrap .trends-oversize-itemSec-pic {
    margin-left: 50%;
    width: 35%;
}
.wrap .trends-jackets {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.wrap .trends-jackets-video {
    margin-bottom: 20px;
}
.wrap .trends-jackets-video > video {
    height: 100vh;
}
.wrap .trends-jackets-desc {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.wrap .trends-jackets-desc_capture {
    text-align: center;
}
.wrap .trends-jackets-desc_text {
    text-align: center;
    font-size: 18px;
}

.wrap .trends-oversize, .trends-texture {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.wrap .trends-oversize-itemFirst, .trends-texture-itemFirst {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrap .trends-oversize-itemFirst-capture-mobile, .trends-texture-itemFirst-capture-mobile {
    display: none;
}
.wrap .trends-oversize-itemFirst-pic, .trends-texture-itemFirst-pic {
    width: 38%;
}
.wrap .trends-oversize-itemFirst-capture, .trends-texture-itemFirst-capture {
    width: 35%;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .wrap .trends-oversize-itemFirst, .trends-texture-itemFirst {
        display: flex;
        flex-direction: column;
    }
    .wrap .trends-oversize-itemFirst-pic, .trends-texture-itemFirst-pic {
        width: 100%;
        padding-top: 20px;
        display: flex;
        align-items: center;
    }
    .wrap .trends-oversize-itemSec-pic, .trends-texture-itemSec-pic > img {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .wrap .trends-texture-itemFirst-pic > img {
        width: 65%;
        margin: 0 auto;
        object-fit: cover;
    }
    .wrap .trends-texture-itemSec-pic > img {
        width: 65%;
        margin: 0 auto;
        object-fit: cover;
    }
    .wrap .trends-oversize-itemFirst-pic > img {
        width: 65%;
        margin: 0 auto;
        object-fit: cover;
    }
    .wrap .trends-oversize-itemSec-pic > img {
        width: 65%;
        margin: 0 auto;
        object-fit: cover;
    }
    .wrap .trends-oversize-itemFirst-capture, .trends-texture-itemFirst-capture {
        display: none;
    }  
    .wrap .trends-oversize-itemFirst-capture-mobile, .trends-texture-itemFirst-capture-mobile {
        display: block;
        text-align: center;
    }
    .wrap .trends-oversize-itemFirst-capture-mobile > p {
        text-transform: uppercase;
    }
    .wrap .trends-texture-itemFirst-capture-mobile > h5 {
        text-transform: uppercase;
        padding-left: 5%;
    }
}

.wrap .trends-oversize-itemSec, .trends-texture-itemSec {
    width: 100%;
    margin-top: 20px;
}
.wrap .trends-oversize-itemSec-pic, .trends-texture-itemSec-pic {
    margin-left: 50%;
    width: 35%;
}

@media screen and (max-width: 1024px) {
    .trends-oversize-itemSec-pic, .trends-texture-itemSec-pic {
        width: 100%;
        margin: 0;
    }
}

.wrap .dresses {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.wrap .dresses-pic {
    margin-top: 20px;
    width: 80%;
    align-self: center;
}
.wrap .dresses-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.wrap .dresses-desc_capture, .dresses-desc_textFirst, .dresses-desc_textSec {
    text-align: center;
    width: 70%;
}
.wrap .dresses-desc_textSec {
    margin-top: 10px;
}
.wrap .accessories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.wrap .accessories-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 70px;
}
@media screen and (max-width: 1024px) {
    .wrap .accessories-wrap {
        display: flex;
        flex-direction: column;
    }
}
.wrap .accessories-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap .accessories-item > h5 {
    margin-bottom: 20px;
}
.wrap .accessories-item-scarfs, .accessories-item-gloves, {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.wrap .accessories-item-scarfs_scarfFirst, .accessories-item-scarfs_scarfSec, .accessories-item-gloves_glovesFirst, .accessories-item-gloves_glovesSec {
    width: 500px;
    height: 500px;
}
.wrap .accessories-item-scarfs_scarfFirst, .accessories-item-gloves_glovesFirst {
    opacity: 1px;
    display: block;
    position: absolute;
    z-index: 100;
    transition-duration: 0.5s;
}
.wrap .accessories-item-scarfs_scarfFirst:hover, .accessories-item-gloves_glovesFirst:hover {
    opacity: 0.00;
}
.wrap .accessories-detail {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
@media screen and (max-width: 1024px)  {
    .wrap .accessories {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .wrap .accessories-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 540px;
    }
    .wrap .accessories-item {
        width: 49%;
    }
    .wrap .accessories-item > h5 {
        display: flex;
        align-self: center;
    }
    .wrap .accessories-item:nth-child(1) {
        margin-bottom: 550px;
    }
    .wrap .accessories-item-scarfs_scarfFirst:hover {
        opacity: 1;
    }
    .wrap .accessories-item-scarfs_scarfSec {
        display: none;
    }
    .wrap .accessories-item-gloves_glovesFirst:hover {
        opacity: 1;
    }
    .wrap .accessories-item-gloves_glovesSec {
        display: none;
    }
    .wrap .accessories-detail {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .wrap .accessories-desc {
        text-align: center;
        margin-bottom: 20px;
    }
    .wrap .accessories-slider {
        margin: 0 auto;
    }
}
.wrap .accessories-slider {
    width: 500px;
    height: 500px;
    margin-bottom: 70px;
}
.wrap .accessories-slider-wrap {
    width: 500px;
    height: 500px;
    position: relative;
}
.wrap .accessories-slider-wrap-slide {
    position: absolute;
    width: 500px;
    height: 500px;
    opacity: 0;
    z-index: 10;
    transition: opacity 1s;
}
.wrap .show {
    opacity: 1;
    z-index: 20;
}
.wrap .accessories-slider-wrap-slide:nth-child(1) {
    background: url(https://orby.ru/upload/medialibrary/d60/d603e51d1dbbaa276b50dca51f66598a.jpg) no-repeat 100%;
}
.wrap .accessories-slider-wrap-slide:nth-child(2) {
    background: url(https://orby.ru/upload/medialibrary/399/39966668885bd1e6d6710c4b93db83f5.jpg) no-repeat 100%;
}
.wrap .accessories-slider-wrap-slide:nth-child(3) {
    background: url(https://orby.ru/upload/medialibrary/03d/03d46dd1ea31c2ebcd99428e6bd369c3.jpg) no-repeat 100%;
}
.wrap .accessories-slider-wrap-slide:nth-child(4) {
    background: url(https://orby.ru/upload/medialibrary/f01/f0192517e1bb09b731ec750113528793.jpg) no-repeat 100%;
}   
.wrap .accessories-slider-wrap-slide:nth-child(5) {
    background: url(https://orby.ru/upload/medialibrary/23a/23a5d11bd6ffd98dd961a728f0f6edb5.jpg) no-repeat 100%;
}
.wrap .accessories-slider-desc {
    width: 35%;
    display: flex;
    flex-direction: row;
}
.wrap .accessories-desc {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}
.wrap .accessories-slider-desc_capture {
    margin-bottom: 15px;
}
.wrap .accessories-desc > p {
    margin: 5px 0;
}
.wrap .gender {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 70px;
}
.wrap .gender-item {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.wrap .gender-item > form > input {
    border: 1px solid black;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: white;
    font-size: 20px;
    

}
.wrap .gender-item > form > input:hover {
    border: 1px solid #4d4d4d;
    color: #4d4d4d;
}
.wrap .gender-item > form > input:active {
    border: 1px solid #333333;
    color: #333333;
}